html, body {
    background-color: #000000;
    overflow: hidden;
}

.imgviewer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-self: stretch;
    align-items: stretch;
    justify-self: center;
    border: none;
}